* {
  box-sizing: border-box;
}

.app-preview {
  width: 20%;
}
.survey {
  height: 100%;
  width: 80%;
  background-color: antiquewhite;
  color: black;
}

.page {
  height: fit-content;
}

.survey-page {
  display: flex;
}

.survey-headers {
  display: flex;
}

.survey-header {
  padding: 10px;
}

.item-container {
  display: flex;
  width: 100%;
  background-color: aliceblue;
  padding: 20px 10px;
}

.item {
  padding-right: 10px;
  border-right: 2px solid black;
}

.item-selections {
  display: flex;
  border-right: 2px solid black;
}

.item-select {
  padding: 0 10px;
  text-align: center;
}

.input-row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 5px;
}

.input-box {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  width: 70px;
  height: 70px;
  background-color: greenyellow;
  border: 1px solid black;
  flex-shrink: 0;
  margin-right: 1px;
}

.full-row {
  width: 100%;
  background: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: right;
}

.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}

.type-header {
  width: 200px;
  height: 100%;
  padding-right: 10px;
  flex-shrink: 0;
  background-color: rgb(209, 209, 209);
}

.purpose-headers {
  display: flex;
  position:sticky;
  top:0;
  width: 100%;
  align-items: center;
  gap: -61px;
  height: 200px;
  background-color: rgb(209, 209, 209);
}

.purpose-header {
  width: 70px;
  flex-shrink: 0;
  position: relative;
  padding: 3px;
}

.purpose-header-text-tilt {
  width: 180px;
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-18%, 140%) rotate(-35deg);
  text-wrap: nowrap;
}
