
* {
  box-sizing: border-box;
}

.app-preview {
  width: 20%;
}
.survey {
  height: 100%;
  width: 80%;
  background-color: antiquewhite;
  color: black;
}

.survey-page {
  display: flex;
}


.survey-headers {
  display: flex;
}

.survey-header {
  padding: 10px;
}

.item-container {
  display: flex;
  width: 100%;
  background-color: aliceblue;
  padding: 20px 10px;
}

.item {
  padding-right: 10px;
  border-right: 2px solid black;
}

.item-selections {
  display: flex;
  border-right: 2px solid black;
}

.item-select {
  padding: 0 10px;
  text-align: center;
}